<ng-template let-node="node" #nodeTemplate>
    {{getNodeForElement(node).name}}
</ng-template>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">

    <mat-nested-tree-node *matTreeNodeDef="let node">
        <li>
            <div class="mat-tree-node" droppable [dropScope]="isDropAllowed(node)" (onDrop)="onItemDrop(node, $event)">
                <button mat-icon-button matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <ng-container *ngTemplateOutlet="nodeTemplate;context:{node:node}"></ng-container>
            </div>

            <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>

                <mat-list>
                    <mat-list-item *ngFor="let prop of getProps(node)"> {{prop.key}}: {{prop.value}} </mat-list-item>
                </mat-list>
            </ul>

        </li>
    </mat-nested-tree-node>
</mat-tree>