<ng-template let-node="node" #nodeTemplate>
    <div [class.drop-above]="dragNodeExpandOverNode === node && dragNodeExpandOverArea === 'above'"
         [class.drop-below]="dragNodeExpandOverNode === node && dragNodeExpandOverArea === 'below'"
         [class.drop-center]="dragNodeExpandOverNode === node && dragNodeExpandOverArea === 'center'"

         draggable="true"
         (dragstart)="handleDragStart($event, node);"
         (dragover)="handleDragOver($event, node);"
         (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);"
         (change)="todoItemSelectionToggle(node)">
        {{node.item.key}}
    </div>

    <button mat-icon-button
            [matMenuTriggerFor]="addNodeMenu"
            [matMenuTriggerData]="{addTo: node}">
        <mat-icon>add</mat-icon>
    </button>

</ng-template>

<mat-menu #addNodeMenu="matMenu">
    <ng-template matMenuContent let-addTo="addTo">
        <button mat-menu-item (click)="addNewItem(addTo)">Settings</button>
        <button mat-menu-item (click)="addNewItem(addTo)">Help</button>
    </ng-template>
</mat-menu>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node matTreeNodeToggle matTreeNodePadding *matTreeNodeDef="let node;">
        <button mat-icon-button disabled></button>
        <ng-container *ngTemplateOutlet="nodeTemplate; context: {node:node}"></ng-container>
    </mat-tree-node>

    <mat-tree-node matTreeNodePadding *matTreeNodeDef="let node; when: hasChild">

        <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>

        <ng-container *ngTemplateOutlet="nodeTemplate; context: {node:node}"></ng-container>

    </mat-tree-node>
</mat-tree>

<span #emptyItem></span>