@import '~@angular/material/theming';

.toolbar {
    @include mat-elevation(6);

    position: sticky;
    height: 50px;
    z-index: 100;

    .fill-remaining-space {
        flex: 1 1 auto;
    }

    .logo {
        height: 26px;
        margin: 0 4px 3px 0;
        vertical-align: middle;
    }
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.expand {
    display: flex;
    flex-direction: column;

    >* {
        flex-grow: 1;
    }
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .end {
        justify-content: end;
    }

    .start {
        justify-content: start;
    }

    .center {
        justify-content: center;
    }
}

.viewer-toggle {
    text-align: center;

    * {
        margin: 0 auto;
        display: inline-block;
    }
}

.content {
    padding: 20px 50px 50px 20px;
}