<section>
    <mat-toolbar color="primary" class="toolbar">

        <span>PDF Builder</span>
        <span class="fill-remaining-space"></span>

        <button mat-icon-button>
            <mat-icon>get_app</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>local_printshop</mat-icon>
        </button>

        <a mat-button href="https://github.com/mukaschultze/pdf-drag-n-drop" target="_blank">
            <img src="../assets/github-circle-white-transparent.svg" class="logo">
            GitHub
        </a>

    </mat-toolbar>
</section>

<div class="full-height row no-scroll">

    <!-- Left -->
    <section class="column scroll">

        <mat-button-toggle-group [value]="viewer|async" (change)="viewer.next($event.value)">
            <mat-button-toggle value="iframe">iframe</mat-button-toggle>
            <mat-button-toggle value="pdf-viewer">pdf-viewer</mat-button-toggle>
            <mat-button-toggle value="ng2-pdfjs-viewer">ng2-pdfjs-viewer</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-list cdkDropList [cdkDropListData]="availableNodes" cdkDropListSortingDisabled *ngIf="true">
            <mat-list-item cdkDrag [cdkDragData]="node" *ngFor="let node of availableNodes">
                {{node.name}} ({{node.key}})
            </mat-list-item>
        </mat-list>

        <pdf-tree></pdf-tree>

        <div>
            <!-- <pre>{{docDefinition.build() | async | json}}</pre> -->
        </div>

    </section>

    <!-- Right -->
    <section class="column no-scroll" [ngSwitch]="viewer|async">

        <mat-progress-bar mode="indeterminate" *ngIf="pdfBuilding|async"></mat-progress-bar>

        <ng-container *ngSwitchCase="'iframe'">
            <iframe [src]="((pdfSrcUrl|async)||'about:blank')|safe" width="100%" height="100%" fitContent></iframe>
        </ng-container>

        <ng-container *ngSwitchCase="'pdf-viewer'">
            <pdf-viewer [src]="pdfSrcUrl|async" *ngIf="pdfSrcUrl|async"></pdf-viewer>
        </ng-container>

        <ng-container *ngSwitchCase="'ng2-pdfjs-viewer'">
            <ng2-pdfjs-viewer [pdfSrc]="pdfSrc|async" *ngIf="pdfSrc|async"></ng2-pdfjs-viewer>
        </ng-container>

    </section>

</div>

<!-- <router-outlet></router-outlet> -->