<section>
    <mat-toolbar color="primary">

        <span>PDF Builder</span>
        <span class="fill-remaining-space"></span>

    </mat-toolbar>
</section>

<div class="row full-height no-scroll">

    <!-- Left -->
    <section class="column scroll">

        <!-- <button mat-button (click)="hehe()">Click Me!</button> -->

        <mat-list cdkDropList [cdkDropListData]="availableNodes" cdkDropListSortingDisabled *ngIf="true">
            <mat-list-item cdkDrag [cdkDragData]="node" *ngFor="let node of availableNodes">
                {{node.name}} ({{node.key}})
            </mat-list-item>
        </mat-list>

        <pdf-tree></pdf-tree>

        <div>
            <!-- <pre>{{docDefinition.build() | async | json}}</pre> -->
        </div>

    </section>

    <!-- Right -->
    <section class="column no-scroll">
        <!-- <iframe [src]="pdfSrc" width="100%" height="100%" fitContent></iframe> -->
        <ng2-pdfjs-viewer [pdfSrc]="pdfSrc" *ngIf="pdfSrc"></ng2-pdfjs-viewer>
    </section>

</div>

<router-outlet></router-outlet>