// Define an alternate dark theme.
$primary: mat-palette($mat-blue, 900);
$accent: mat-palette($mat-blue, A100, 100, A4200);
$warn: mat-palette($mat-deep-orange);
$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);